.daily {
  background-color: white;
  border-bottom: 3px solid map-get($main-color, 'border');
}
.daily-header > :first-child {
  @include section-title;
}
.daily-widget {
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  min-height: 200px;
  @include desktop {
    min-height: 400px;
  }
}
