.demograhphic {
  background-color: white;
  border-bottom: 3px solid map-get($main-color, 'border');
  @include desktop {
    border-left: 3px solid map-get($main-color, 'border');
  }
}
.demograhphic-header > :first-child {
  @include section-title;
}

.demograhphic-widget {
  margin: auto;
  padding: 5%;
  min-height: 200px;
  @include desktop {
    min-height: 400px;
  }
}
