.message {
  background-color: white;
  border-bottom: 3px solid map-get($main-color, 'border');
  padding-bottom: 15px;

  @include desktop {
    border-bottom: none;
  }
}
.message-header > :first-child {
  @include section-title;
}

/* ---- Layout & Spacing --------- */
.message-form {
  @include flex-col {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    padding-bottom: 15px;
  }
}

.message-form > input[type='text'] {
  width: 90%;
  margin-top: 25px;
  margin-bottom: 25px;
  height: 50px;
}
.message-form > button {
  width: 100%;
  margin-bottom: 25px;
  margin-top: 20px;
}

.message-form > textarea {
  width: 90%;
  height: 100px;
  margin-bottom: 25px;
  @include desktop {
    height: 160px;
  }
}

/* override JQuery's default styling */
ul.ui-autocomplete {
  border: solid 2px map-get($nav-color, 'bg') !important;
}

.ui-autocomplete li:hover,
.ui-menu-item:hover,
.ui-menu-item-wrapper:hover {
  background-color: map-get($nav-color, 'bg') !important;
  border: solid 1px map-get($nav-color, 'bg') !important;
}
