.settings {
  border-bottom: 3px solid map-get($main-color, 'border');
  padding-bottom: 15px;
  @include desktop {
    border-left: 3px solid map-get($main-color, 'border');
    border-bottom: none;
  }
}

.settings-header > :first-child {
  @include section-title;
}

.settings-form {
  @include flex-col {
    width: 85%;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

.settings-form > :nth-child(n) {
  margin-top: 20px;
}

.settings-form select {
  width: 90%;
  height: 50px;
  margin-bottom: 25px;
}

.settings-button {
  @include flex-col {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 80%;
  }
  @include tablet {
    @include flex-row {
      justify-content: space-between;
      margin-left: auto;
      margin-right: auto;
      margin-top: 25px;
      margin-bottom: 25px;
      width: 100%;
    }
  }
}
.settings-button > :nth-child(n) {
  width: 100%;
  margin-right: 10px;
  margin-top: 25px;
  @include tablet {
    margin-top: 0px;
  }
  &:hover {
    cursor: pointer;
  }
}

.settings-toggle {
  @include flex-row {
    width: 90%;
    margin-bottom: 25px;
    justify-content: space-between;
  }
}

.settings-toggle p {
  color: map-get($main-color, 'font');
  margin-right: 25%;
}
