/* ============================================= */
/*              Base styles                      */
/* ============================================= */

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

p {
  line-height: 1.45em;
  @include font-size(16px);
}

a {
  text-decoration: none;
}
a:link {
  color: map-get($nav-color, 'bg');
}
a:visited {
  color: map-get($nav-color, 'bg');
}
a:hover {
  color: map-get($nav-color, 'bg');
}
a:active {
  color: map-get($nav-color, 'bg');
}

canvas {
  max-width: 100%;
}

/* ============================================= */
/*              Typography                       */
/* ============================================= */
